@model PaymentHistory


@{
    ViewData["Title"] = "Payment Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h4 class="h4 fw-bolder">Details of Payment</h4>
        </div>
        <div class="col-md-6 text-end">
            <a asp-action="GetAllPayments" asp-controller="PaymentHistory" class="btn btn-warning mt-2"> &nbsp Back</a>
            <button class="btn btn-danger ms-2" data-toggle="modal" onclick="openModal()" id="deleteButton"><i class="bi bi-trash3"></i> &nbsp Delete </button>
        </div>
    </div>

    <hr />

    <div class="row mt-3">
        <div class="col-md-6">
            <p><strong>BookingId : </strong> @Model.BookingId</p>
            <p><strong>Paid Medium : </strong> @Model.PaidMedium</p>
            <p><strong>Total Amount : </strong> @Model.TotalAmount</p>

            @if (!string.IsNullOrEmpty(Model.Remark))
            {
                <p><strong>Remark : </strong> @Model.Remark</p>
            }
            else
            {
                <p><strong>Remark : </strong> Not Available</p>
            }


        </div>

    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Payment Details</h5>
                <button type="button" onclick="closeDeleteModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Payment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeDeleteModal()">Cancel</button>
                <form asp-controller="PaymentHistory" asp-action="DeletePayment" asp-route-paymentId="@Model.PaymentId">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    function openModal() {
        $('#deleteModal').modal('show')
    }

    function closeDeleteModal() {
        $('#deleteModal').modal('hide')
    }
</script>
