@using Taxi_Booking_Management.Common;

<div class="position-sticky">
    <ul class="nav flex-column">

      
            <li class="nav-item mt-2 mb-2 cursor" >
                <a class="nav-link" >
                    <h5><i class="fas fa-tachometer-alt me-2"></i>Dashboard</h5>
                </a>
            </li>


        @* <li class="nav-item  cursor ">
                <a class="nav-link mb-2 mt-2 " >
                    <h5><i class="fas fa-cogs me-2"></i>Taxi Details</h5>
                </a>
            </li> *@

        <li class="nav-item mb-2 cursor @Html.IsActive("Taxi", "Add") @Html.IsActive("Taxi", "Index") @Html.IsActive("Taxi", "Details")">
            <a class="nav-link" asp-action="Index" asp-controller="Taxi">
                <h5>
                    <i class="fa-solid fa-car me-2"></i>Taxi Details
                </h5>
                </a>
            </li>

       
        <li class="nav-item m3 mb-2 cursor   @Html.IsActive("TaxiOwner", "AddOwner") @Html.IsActive("TaxiOwner", "Index")  @Html.IsActive("TaxiOwner", "OwnerDetails") @Html.IsActive("TaxiOwner", "EditOwner")">
            <a class="nav-link" asp-action="Index" asp-controller="TaxiOwner">
                <h5><i class="fas fa-users me-2"></i>Taxi Owners</h5>
                </a>
            </li>
      
        <li class="nav-item m3 mb-2 cursor @Html.IsActive("TaxiDriver", "AddDriver") @Html.IsActive("TaxiDriver", "Index") @Html.IsActive("TaxiDriver", "DriverDetails") @Html.IsActive("TaxiDriver", "EditDriver")">
            <a class="nav-link" asp-action="Index" asp-controller="TaxiDriver">
                <h5><i class="fas fa-users me-2"></i>Taxi Drivers</h5>
            </a>
        </li>


        <li class="nav-item mb-2 cursor @Html.IsActive("Booking", "Index") ">
            <a class="nav-link" asp-action="Index" asp-controller="Booking">
                <h5><i class="fas fa-list me-2"></i>Booking Details</h5>
                </a>
            </li>


        <li class="nav-item mb-2 cursor @Html.IsActive("PaymentHistory", "CreatePayment") @Html.IsActive("PaymentHistory", "GetAllPayments") @Html.IsActive("PaymentHistory", "GetIndividualPaymentByBookingId")">
            <a class="nav-link" asp-action="GetAllPayments" asp-controller="PaymentHistory">
                <h5><i class="fas fa-file-invoice me-2"></i>Payment History</h5>
                </a>
            </li>

        <li class="nav-item mb-2 cursor ">
               
                <a class="nav-link" >

                    <h5><i class="fas fa-user-edit me-2"></i>Edit Profile</h5>
                </a>
            </li>
         
    </ul>
</div>