@model Taxi_Booking_Management.DtoModels.CheckTaxiAvailability;

@{
    ViewData["Title"] = "Register booking";
}


<div class="row">
    <div class="col-md-6">
        <h2>Check availability</h2>
        <form asp-action="CheckBookingAvailbility" asp-controller="Booking" method="post" class="mb-4">

            <div class="form-group w-50 mt-3">
                <label asp-for="taxiId"></label>
                <input asp-for="taxiId" class="form-control mt-2" id="txtSearch" />
                <span asp-validation-for="taxiId" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mt-3">
                <label asp-for="FromDate"></label>
                <input asp-for="FromDate" class="form-control mt-2" id="fromDate" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mt-3">
                <label asp-for="ToDate"></label>
                <input asp-for="ToDate" class="form-control mt-2" id="toDate" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Check</button>
            <button asp-action="Index" asp-controller="Taxi" class="btn btn-warning mt-2">Cancel</button>
        </form>
    </div>

    <div class="col-md-6">
        @if (ViewBag.TaxiDates != null && ViewBag.TaxiDates.Count > 0)
        {
            <div style="height: 400px; overflow-y: scroll;">
                <h2>Booking Details</h2>
                @foreach (var booking in ViewBag.TaxiDates)
                {
                    <div class="border p-2 mb-2 border border-warning">
                        <p>
                            From: @booking.FromLocation<br />
                            To: @booking.ToLocation<br />
                            From Date: @booking.FromDate<br />
                            To Date: @booking.ToDate<br />
                        </p>
                    </div>
                }
            </div>
        }
        else
        {
            <p></p>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $("#txtSearch").autocomplete({
                source: '@Url.Action("getTaxiAutoComplete")',
                minLength: 2
            });
        });
        console.log("hii");
        console.log(@ViewBag.TaxiDates);
    </script>
}